<div class='table-responsive' *ngIf="!updates">
    <br /><h2 color="blue">FollowingProducts</h2>
    <table class='table'>
        <tr>
            <th>ProductName</th>
            <th>Description</th>
            <th>Type</th>
            <th>HomepageUrl</th>
            <th>PlaystoreUrl</th>
            <th>AppstoreUrl</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let product of followedProduct">
            <td>
                {{product.Name}}
            </td>
            <td>
                {{product.Description}}
            </td>
            <td>
                <h6 *ngIf="product.Type===1">Mobile</h6>
                <h6 *ngIf="product.Type===2">web</h6>
                <h6 *ngIf="product.Type===3">IoT</h6>

            </td>
            <td>
                {{product.HomepageUrl}}
            </td>
            <td>
                {{product.PlaystoreUrl}}
            </td>
            <td>
                {{product.AppstoreUrl}}
            </td>
            <td>
                <button class='btn-primary' (click)="unfollowProduct(product)">UnFollow</button>
                <button class='btn-primary' (click)="showUpdates(product.Id,product.Name)">ProductUpdates</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="updates">
    <h2>{{ProductName}}'s Updates</h2><br/>
    <button class='btn-primary' (click)="OnBack()">FollowingProductList</button>
    <table class="table table-striped">
        <tr>
            <th>Intrduction</th>
            <th>Detail</th>
            <th>Media</th>

        </tr>
        <tr *ngFor="let productUpdate of productUpdates">
            <td>
                {{productUpdate.Introduction}}
            </td>
            <td>
                {{productUpdate.Detail}}
            </td>
            <td>
                {{Media}}
            </td>
        </tr>
    </table>
</div>