
@{
    ViewBag.Title = "SuccessfullyRegister";
}

<h2>SuccessfullyRegister</h2>

<p>
    Registration successfull. Confirmation mail sent to your email address please verify your mail address than login.
    <a href="UrlAction("Login","Account")>Click here for Login</a>
    
</p>

