<h2>Admin</h2>
<br />
<table class='table' *ngIf="!click">
    <tr>
        <th>UserName</th>
        <th>CompanyName</th>
        <th>Description</th>
        <th>FoundedYear</th>
        <th>WebsiteUrl</th>
        <th>  Action  </th>
    </tr>
    <tr *ngFor="let owner of owners">
        <td>{{owner.UserName}}</td>
        <td>{{owner.ProductOwner.CompanyName}}</td>
        <td>{{owner.ProductOwner.Description}}</td>
        <td>{{owner.ProductOwner.FoundedYear}}</td>
        <td>{{owner.ProductOwner.WebsiteUrl}}</td>
        <td>
            <button class='btn-primary' (click)="Approve(owner.Id)">Approve</button>
            <button class='btn-primary' (click)="Reject(owner.Id)">Reject</button>

        </td>
    </tr>

</table>